openapi: "3.0.3"
info:
  title: Insula Platform APIs
  version: "2.0"
servers:
  - url: https://int.insula.earth/secure/api/v2.0/
    description: Insula integration environment
paths:
  /collections:
    get:
      summary: Returns a list of platform collections.
      responses:
        "200":
          description: A list of platform collections
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    $ref: "#/components/schemas/PagingState"
                  _embedded:
                    type: object
                    properties:
                      collections:
                        type: array
                        items:
                          $ref: "#/components/schemas/CollectionShortProjection"
                    required:
                      - collections
                required:
                  - page
                  - _embedded
security:
  - openId: # <--- Use the same name as specified in securitySchemes
      - openid
      - profile
components:
  securitySchemes:
    openId: # <--- Arbitrary name for the security scheme. Used to refer to it from elsewhere.
      type: openIdConnect
      openIdConnectUrl: https://identity.int.insula.earth/realms/eopaas/.well-known/openid-configuration
  schemas:
    UserRole:
      type: string
      title: User role
      enum:
        - GUEST
        - USER
        - EXPERT_USER
        - CONTENT_AUTHORITY
        - ADMIN
    User:
      type: object
      title: Platform user
      properties:
        id:
          type: number
        name:
          type: string
        role:
          $ref: "#/components/schemas/UserRole"
    PagingState:
      type: object
      title: Pagination state
      description: test desc
      properties:
        number:
          type: number
          title: Current page number
        size:
          type: number
          title: Page size
        totalElements:
          type: number
          title: Total elements
        totalPages:
          type: number
          title: Total pages
      required:
        - number
        - size

    PlatformFileType:
      type: string
      title: Platform file type
      enum:
        - REFERENCE_DATA
        - OUTPUT_PRODUCT
        - EXTERNAL_PRODUCT
        - REMOTE_DATA
    Collection:
      type: object
      properties:
        name:
          title: Collection name
          type: string
        description:
          title: Collection description
          type: string
        productsType:
          title: Collection product types
          type: string
        fileType:
          $ref: "#/components/schemas/PlatformFileType"
      required:
        - name
        - fileType
    CollectionShortProjection:
      type: object
      allOf:
        - type: object
          properties:
            id:
              $ref: "#/components/schemas/PlatformIdentifier"
            identifier:
              type: string
              title: Catalogue identifier
            owner:
              $ref: "#/components/schemas/User"
          required:
            - id
            - identifier
            - owner
        - $ref: "#/components/schemas/Collection"
    PlatformIdentifier:
      type: number
      title: Platform identifier
