openapi: "3.0.3"
info:
  title: Insula Platform APIs
  version: "1.0"
servers:
  - url: https://int.insula.earth/secure/api/v2.0/
    description: Insula Integration Instance
paths:
  /collections:
    get:
      summary: Returns a list of platform collections.
      responses:
        "200":
          description: A list of platform collections
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    $ref: "#/components/schemas/PagingState"
                  _embedded:
                    type: object
                    properties:
                      collections:
                        type: array
                        items:
                          $ref: "#/components/schemas/CollectionShortProjection"
                    required:
                      - collections
                required:
                  - page
                  - _embedded
components:
  securitySchemes:
    openId: # <--- Arbitrary name for the security scheme. Used to refer to it from elsewhere.
      type: openIdConnect
      openIdConnectUrl: https://identity.int.insula.earth/realms/eopaas/.well-known/openid-configuration
  schemas:
    UserRole:
      type: string
      enum:
        - GUEST
        - USER
        - EXPERT_USER
        - CONTENT_AUTHORITY
        - ADMIN
    User:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        role:
          $ref: "#/components/schemas/UserRole"
    PagingState:
      type: object
      title: Pagination state
      properties:
        number:
          type: number
          title: Current page number
        size:
          type: number
          title: Page size
        totalElements:
          type: number
          title: Total elements
        totalPages:
          type: number
          title: Total pages
      required:
        - number
        - size

    PlatformFileType:
      type: string
      enum:
        - REFERENCE_DATA
        - OUTPUT_PRODUCT
        - EXTERNAL_PRODUCT
        - REMOTE_DATA
    CollectionShortProjection:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        description:
          type: string
        productsType:
          type: string
        fileType:
          $ref: "#/components/schemas/PlatformFileType"
        identifier:
          type: string
        owner:
          $ref: "#/components/schemas/User"

security:
  - openId: # <--- Use the same name as specified in securitySchemes
      - openid
      - profile
      - email
